[Desktop Entry]
Type=Application
Name=Mediaar
Comment=Manage your media
Exec=@MEDIAAR_BIN@ desktop
Icon=@MEDIAAR_ICON@
Terminal=false
Categories=AudioVideo;
Keywords=media;tui;desktop;
StartupNotify=true
